<div class="card" style="width: 18rem;">
    <img src="{{posterUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Score de popularité {{popularity}}</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Description</button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">{{overview}}</div>
      </div>
    </div>
  </div>