<div class="card" style="width: 18rem;">
    <img src="{{movie.poster_path}}" class="card-img-top" alt="...">
    <div class="card-body">
      <div *ngIf="movie.media_type == 'movie'">
        <h5 class="card-title">{{movie.title}}</h5>
      </div>
      <div *ngIf="movie.media_type == 'tv'">
        <h5 class="card-title">{{movie.name}}</h5>
      </div>
      <p class="card-text">Score de popularité {{movie.popularity}}</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Description</button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">{{movie.overview}}</div>
      </div>
    </div>
  </div>