<div class="container border border-success rounded">
    <h3 class="text-center">Détails</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.poster_path}}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    <app-rating-decimal [movie]="this.movie"></app-rating-decimal>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Date de sortie : {{movie.release_date}}
                </div>
            </div>
            <ngb-accordion #acc="ngbAccordion" (panelChange)="changeIcon($event, acc)" activeIds="">
                <ngb-panel id="static-1">
                    <ng-template ngbPanelTitle>
                        <i id="static-1-icon" class="fas fa-chevron-circle-up"></i><span> Résumé</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        {{movie.overview}}
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                    <ng-template ngbPanelTitle>
                        <i id="static-2-icon" class="fas fa-chevron-circle-up"></i><span> Genres</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let genre of movie.genres" class="list-group-item">{{genre.name}}</li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>